src/nas/flows.json
[{"id":"327978da.2741a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c44a7881.5b6208","type":"function","z":"327978da.2741a8","name":"attach_time","func":"\nfunction add_zero(number) {\n    if (number < 10) {\n        return \"0\" + number.toString();\n    }\n    return number;\n}\n\ndate = new Date();\ntime = date.getFullYear() + '-' + \n       add_zero(date.getMonth() + 1) + '-' + \n       add_zero(date.getDate()) + ' ' + \n       add_zero(date.getHours()) + ':' + \n       add_zero(date.getMinutes()) + ':' + \n       add_zero(date.getSeconds());\n       \n\nmsg.time = time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":580,"wires":[["5b4a2b.54eb05d4"]]},{"id":"e4488fca.1bdeb","type":"mqtt in","z":"327978da.2741a8","name":"","topic":"sensors/#","qos":"2","datatype":"auto","broker":"4af9b40d.66871c","x":320,"y":820,"wires":[["e80276ef.3ab988"]]},{"id":"e80276ef.3ab988","type":"json","z":"327978da.2741a8","name":"","property":"payload","action":"","pretty":false,"x":470,"y":820,"wires":[["153cfdca.ee2f52"]]},{"id":"5b4a2b.54eb05d4","type":"function","z":"327978da.2741a8","name":"query","func":"var table = msg.mqtt_topic;\nvar query = \"INSERT INTO \" + table + \"( time, \";\n\nfor (var column in msg.json) {\n    query += column + \", \";\n}\nquery = query.substring(0, query.length - 2);\nquery += \") VALUES ('\" + msg.time + \"', \";\n\nfor (var col in msg.json) {\n    query += msg.json[col] + \", \";\n}\nquery = query.substring(0, query.length - 2);\nquery += \")\";\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":580,"wires":[["ae0bb0ab.e939a"]]},{"id":"ae0bb0ab.e939a","type":"mysql","z":"327978da.2741a8","mydb":"b8818014.7bbd8","name":"","x":1160,"y":580,"wires":[[]]},{"id":"d704843d.4096d8","type":"e-mail","z":"327978da.2741a8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"victorkrook96@gmail.com","dname":"","x":1350,"y":700,"wires":[]},{"id":"153cfdca.ee2f52","type":"function","z":"327978da.2741a8","name":"set_some_vars","func":"msg.json = msg.payload;\nmsg.mqtt_topic = msg.topic.split('/')[1];\nmsg.payload = msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":820,"wires":[["1bc0ba05.ca9906"]]},{"id":"d1b3d14d.800e","type":"function","z":"327978da.2741a8","name":"create_email","func":"msg.topic = \"Hot weather!\";\nmsg.payload = \"Looks like it's very hot weather today!\" + \n\"\\nThere's been a new heat record at the balcony!\" + \n\"\\nIt's currently \" + msg.temperature + \" degrees,\" + \n\"don't forget your sunscreen!\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":700,"wires":[["d704843d.4096d8"]]},{"id":"317d0257.4401ce","type":"mysql","z":"327978da.2741a8","mydb":"b8818014.7bbd8","name":"","x":660,"y":700,"wires":[["d8c0ee4e.4d52e","c44a7881.5b6208"]]},{"id":"d8c0ee4e.4d52e","type":"function","z":"327978da.2741a8","name":"new_record?","func":"var previousRecord = parseInt(msg.payload[0].temperature);\nvar newTemp = parseInt(msg.json.temperature);;\n\nif ( newTemp > previousRecord ) {\n    msg.payload = true;\n    msg.temperature = newTemp;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":700,"wires":[["afad8cf8.3d7f6"]]},{"id":"1bc0ba05.ca9906","type":"function","z":"327978da.2741a8","name":"record_query","func":"msg.topic = \"SELECT * FROM weather ORDER BY temperature DESC\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":820,"wires":[["317d0257.4401ce"]]},{"id":"afad8cf8.3d7f6","type":"switch","z":"327978da.2741a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":700,"wires":[["d1b3d14d.800e"]]},{"id":"4af9b40d.66871c","type":"mqtt-broker","z":"","name":"Local-Broker","broker":"192.168.0.102","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b8818014.7bbd8","type":"MySQLdatabase","z":"","name":"Local-db","host":"192.168.0.102","port":"3306","db":"sensors","tz":""}]